


.caja {
    background-color:rgba(213, 226, 238, 0.8);
    max-width: 60%; /* Ancho máximo de la caja */
    margin:auto; /* Márgenes automáticos horizontalmente */
    border-radius:10px;
    padding: 3%;
    
}
h1{

    color:  darkcyan;
    padding: 20px;
    margin: 20px;
    

}

.caja h2 {
    text-align: left;
    color:   darkslategray; 
    font-family: Courier ,monospace;
    font-size: 100%;
    word-wrap: break-word;
   
}
.caja p {
    text-align:left;
    color:  darkcyan;
    font-size: 100%;
    word-wrap: break-word;
}

.caja img {

    text-align: center;
    width: 20%; ;
    height: auto;

}




